<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StorageWebApplication</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-container">
                <a href="/" class="navbar-brand">StorageWebApplication</a>
                <ul class="nav">
                    <li class="nav-item"><a href="/" class="nav-link">Kezdőoldal</a></li>
                    <li class="nav-item"><a href="/About" class="nav-link">Rólunk</a></li> <!-- Új menüpont -->
                    <li class="nav-item"><a href="/Contact" class="nav-link">Elérhetőségek</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2024 - StorageWebApplication</p>
    </footer>
</body>
</html>
